{% extends 'devices/layout.html' %}
{% block title %}
Добавление статьи
{% endblock %}
{% block page_title %}
Добавление статьи
{% endblock %}
{% block content %}
<div style="width: 100%;display: flex; justify-content: center;" >
        <form method="post" class="form-add">
            {% csrf_token %}
            {{ form.media }}
                {{ form.title }} <br>
                <label class="form-label">Категория</label>
               {{ form.category }} <br>
                <label class="form-label">Теги</label>
                {{ form.tags }} <br>
                <label class="form-label">Содержимое статьи</label>
                {{ form.content }} <br>
            <span>{{ error }}</span>
            <div class="mt-3">
                <button
                        type="submit"
                        class="btn btn-success">Сохранить</button>
                <a href="{% url 'wiki' %}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
</div>
{% endblock %}