{% extends 'devices/layout.html' %}
{% block title %}
Статья
{% endblock %}
{% block page_title %}
Просмотр статьи
{% endblock %}
{% block content %}
<h4>{{ article.title }}</h4>
<div class="card">
    <div class="card-body">
        <p>
            <b>Категория:</b>
            {{ article.category.name }}
        </p>
        <p>
            <b>Теги:</b>
            {% for tag in article.tags.all %}
                <span class="badge bg-secondary">{{ tag.name }}</span>
            {% empty %}
                Нет тегов
            {% endfor %}
        </p>
        <p><b>Связанные устройства:</b></p>
        <ul>
            {% for d in article.devices.all %}
                <li>{{ d }}</li>
            {% empty %}
                <li>Нет устройств</li>
            {% endfor %}
        </ul>
        <hr>
        <div style="white-space: pre-line;">
            {{ article.content|safe }}
        </div>
        <hr>
        <p class="text-muted">
            Создано: {{ article.created_at }} <br>
            Обновлено: {{ article.updated_at }}
        </p>
        <div class="mt-3">
            {% if request.session.role == 'Инженер' or request.session.role == 'Администратор' %}
            <a href="{% url 'update_article' article.id %}" class="btn btn-warning">
                Редактировать
            </a>
            {% endif %}
            <a href="{% url 'article_history' article.id %}"
               class="btn btn-outline-dark">История изменений</a>
            {% if request.session.role == 'Инженер' or request.session.role == 'Администратор' %}
            <a href="{% url 'delete_article' article.id %}"
               class="btn btn-danger">
                Удалить
            </a>
            {% endif %}
            <a href="{% url 'wiki' %}"
               class="btn btn-secondary">Назад</a>
        </div>
    </div>
</div>

{% endblock %}